body {
    background-color: #66CDAA;
    padding-bottom: 20em;
}

.profile {
    width: 100px;
    border-radius: 25px;
    float: left;
    margin-right: 10px;
}

.gallery {
    width: 50px;
}

.gallerytxt {
    font-weight: bolder;
    font-family: "consolas", monospace;
}

.credit {
    font-style: italic;
    color: #fff3d4;
    text-shadow: 1px 1px #000000;


}

h1,
p,
marquee {
    font-family: "consolas", monospace;
}

.name {
    line-height: 110%;
}


@keyframes topnav-hvr-out {
    from {
        background-color: #f2f2f2;
    }

    to {
        background-color: #333;
    }

    from {
        color: black;
    }

    to {
        color: white;
    }

    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}

@keyframes topnav-hvr-in {
    from {
        background-color: #333;
    }

    to {
        background-color: #f2f2f2;
    }

    from {
        color: white;
    }

    to {
        color: black;
    }

    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

@keyframes a-grow {
    from {
        font-size: 17px;
    }

    to {
        font-size: 20.5px;
    }
}

@keyframes a-shrink {
    from {
        font-size: 20.5px;
    }

    to {
        font-size: 17px;
    }
}

.topnav {
    z-index: 300;
    /*
    background-color: #333;
    */
    background-color: hsla(200, 100%, 0%, .4);
    backdrop-filter: blur(4px);
    /*background-image: linear-gradient(120deg, #155799, #159957);*/
    padding-top: 1%;
    overflow: hidden;
    margin-bottom: 100px;
    border-radius: 30px;
    filter: drop-shadow(0 0 0.75rem gray);

}

.topnav a {
    margin-bottom: 1%;
    z-index: 301;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: consolas, monospace;
    animation-name: topnav-hvr-out;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    margin-left: 4%;
    border-radius: 10px;

}

.topnav a:hover {
    animation-name: topnav-hvr-in;
    animation-duration: 0.3s;
    border-radius: 10px;
}

.homebutton {
    max-width: 5%;
    max-height: 5%;
    float: left;
    border-radius: 15px;
    margin-right: 5%;
    margin-left: 3%;
}


#footer {
    position: fixed;
    bottom: 1%;
    font-size: 15px;
    left: 1%;
    width: 100%;
    color: #fff3d4;
    text-align: left;
    margin-bottom: 0px;

}


.dsc {
    font-family: "consolas", sans-serif;
    margin-left: 10%;
    color: aliceblue;

}

.dscdiv {
    background-color: hsla(200, 100%, 0%, .4);
    backdrop-filter: blur(4px);
    width: 40%;
    margin-left: 10%;
    padding-bottom: 1%;
    filter: drop-shadow(0 0 0.75rem gray);
    padding-top: 1%;
    padding-right: 1%;
    border-radius: 10px;


}

.dscdiv img {
    max-width: 20px;
}

.socials {

    font-family: "consolas", sans-serif;
    font-size: 20px;

    padding-top: 1%;
    padding-bottom: 1%;
    color: aliceblue;
    background-color: hsla(200, 100%, 0%, .4);
    backdrop-filter: blur(4px);
    width: 40%;
    margin-left: 10%;
    padding-bottom: 1%;
    filter: drop-shadow(0 0 0.75rem gray);

    padding-right: 1%;
    border-radius: 10px;

}

a:hover {
    animation-name: a-grow;
    animation-duration: 0.35s;
    animation-fill-mode: forwards;
    color: aquamarine;
}

a {
    animation-name: a-shrink;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    color: indianred;
}

a:visited {
    color: darkolivegreen;
}

a:visited:hover {
    color: aquamarine;
}

.socials img {
    width: 20px;
}

.gameing {
    width: 50%;
    text-align: center;
    font-size: 200%;
}

.emoji {
    font-style: normal;
}

.bold {
    font-weight: 300;
}

.sources {
    font-family: monospace;

    font-size: 17px;
}


#it {
    font-style: italic;
}

#normal {
    font-style: normal;
}

.sources {
    margin-left: 180px;
    padding-bottom: 10px;
}

.sourceslist {
    z-index: 1;
}

.custom-shape-divider-top-1642461718 {
    position: fixed;
    z-index: -1;
    top: 20%;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: scaley(10);
}

.custom-shape-divider-top-1642461718 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 39px;

}

.custom-shape-divider-top-1642461718 .shape-fill {
    fill: #9CF1BF;
}

.custom-shape-divider-bottom-1642462227 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -1;
}

.custom-shape-divider-bottom-1642462227 svg {
    position: relative;
    display: block;
    width: calc(175% + 1.3px);
    height: 283px;
}

.custom-shape-divider-bottom-1642462227 .shape-fill {
    fill: #9CF1E4;
}

iframe {
    width: 100%;
}
